<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Delete All: Are you really, really sure?</title>
  </head>
  <body>
    <div class="container">
      <main>
        <h1>Delete Confirmation Required...AGAIN</h1>
        <p>I don't reccomend you to delete all data unless you shut down your business.
           Unless you become rich and want to retire and go to beach, I don't want you to click yes...
           You didn't forget your dream that you would create best hair salon in the world right??
        </p>

        <a href='/delete/yes/forsure'><button class="btn btn-danger">Yes, I achieved my dream!!</button></a>
        <a href='/'><button class="btn btn-success">No, I was wrong...thanks for reminding me my dream again</button></a>

      </main>
    </div>
  </body>
</html>
