<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Hair Salon Management Page</title>
  </head>
  <body>
    <header>
    </header>
    <main>
      <div class="container">
        <h1>Manege Stylists</h1>

        <form action="/" method="post">
          <div class="form-group">
            <label for="stylist_name">Type Stylist Name</label>
            <input type="text" class="form-control" name="stylist_name" id="stylist_name" placeholder="Name" />
          </div>
          <button class="btn btn-primary btn-block" type="submit">Add</button>
        </form>

        <h2>Current Stylists</h2>
        {% if stylists is not empty %}
          <ul>
            {% for stylist in stylists %}
              <li><a href="/stylist/{{stylist.getStylistName}}-{{stylist.getStylistId}}">{{ stylist.getStylistName }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
        <p>No stylists</p>
        {% endif %}

      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
