body {
  background: url(/../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

h1 {
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}

h2 {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  margin-top: 5vh;
}

div .jumbotron {
  margin-top: 10vh;
  position: relative;
  min-height: 60vh;
  max-height: 90vh;
  background-color: #efefef;
  opacity: 0.9;
}

.btn {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.form-group {
  margin-bottom: 5vh;

}


ul {
  list-style-type: none;
}

li {
  font-size: 2.3rem;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 5vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
}

.btn.select {
  width: 50%;
}

.btn-danger {
  background-color: #873838;
}

.btn-warning {
  background-color: #826242;
}
